#pageBackground {
  background-color: red;
  height: 100vh;
}

#etchASketch {
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width:808px; 
  height:604px;
}

h2 {
  font-family: 'Lobster', cursive;
  text-align: center;
}

.menuButton {
  margin-bottom: 10px;
}

.frames {
  border: 2px solid silver;
}

#menuBox {
  float: left;
  height: 604px;
  width: 204px;
  background-color: #ccc;
}

#gridBox {
  float: left;
  height: 604px;
  width: 604px;
  background-color: white;
}

.gridSquare {
  float: left;
}

.colorSquare {
  float: left;
  width: 40px;
  height: 30px;
}

.selectedColor {
  border: 2px solid red;
}

